# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$.py.class

# Virtual env
.venv/

# Data and large artifacts
data/
models/
submissions/*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
